.primary {
    background: #005ec2;
    border-color: #005ec2;
    color: #fff;
}
.primary:hover {
    color: #FFFFFF;
    background-color: #0069d9;
    border-color: #0062cc;
}
.primaryLine {
    color: #005ec2;
    border-color: #005ec2;
}
.primaryLine:hover {
    background-color: #005ec2;
    color: #fff;
}

.info {
    color: #FFFFFF;
    background-color: #008080;
    border-color: #008080;
}
.info:hover {
    color: #FFFFFF;
    background-color: #138496;
    border-color: #117a8b;
}
.infoLine {
    color: #008080;
    border-color: #008080;
}
.infoLine:hover {
    background-color: #008080;
    border-color: #17a2b8;
    color: #fff;
}

.warning {
    color: #ffffff;
    background-color: #e3aa00;
    border-color: #e3aa00;
}
.warning:hover {
    color: #FFFFFF;
    background-color: #eeb001;
    border-color: #eeb001;
}
.warningLine {
    color: #e3aa00;
    border-color: #e3aa00;
}
.warningLine:hover {
    color: #ffffff;
    background-color: #e3aa00;
    border-color: #ffc107;
}

.success {
    color: #FFFFFF;
    background-color: #006400;
    border-color: #006400;
}
.success:hover {
    color: #FFFFFF;
    background-color: #218838;
    border-color: #1e7e34;
}
.successLine {
    color: #006400;
    border-color: #006400;
}
.successLine:hover {
    color: #fff;
    background-color: #006400;
    border-color: #28a745;
}

.danger {
    color: #FFFFFF;
    background-color: #b22222;
    border-color: #b22222;
}
.danger:hover {
    color: #FFFFFF;
    background-color: #c82333;
    border-color: #bd2130;
}
.dangerLine {
    color: #b22222;
    border-color: #b22222;
}
.dangerLine:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.secondary {
    color: #FFFFFF;
    background-color: #646464;
    border-color: #646464;
}
.secondary:hover {
    color: #FFFFFF;
    background-color: #5a6268;
    border-color: #545b62;
}
.secondaryLine {
    color: #646464;
    border-color: #646464;
}
.secondaryLine:hover {
    color: #fff;
    background-color: #646464;
    border-color: #6c757d;
}