#__next {
    height: 100%;
}
#__next .ant-spin-nested-loading {
    height: 100%;
}
#__next .ant-spin-container {
    height: 100%;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.error_span {
    height: 20px;
    display: block;
    color: red;
    margin-top: 2px;
}

.ant-page-header {
    padding-left: 0 !important;
}