.table{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.table th{
    text-align: center !important;
    background: #000 !important;
    color: #fff !important;
    font-size: 14px;
}
.table tr td {
    text-align: center;
    font-size: 14px;
    color: #667080;
}

.searchInput {
    margin-bottom: 15px;
    width: 240px;
    height: 36px;
}

.searchInput > span {
    height: 100%;
}

.searchInput input {
    border: 1px solid #000;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    height: 100%;
}

.searchInput input:focus {
    border-color: #000;
}

.searchInput button {
    background-color: #fff;
    color: #1F1F1F;
    border: 1px solid #000;
    border-left: none;
    box-shadow: none;
    border-radius: 0 10px 10px 0 !important;
    height: 100%;
}
.searchInput button:focus,
.searchInput button:hover,
.searchInput button:active {
    background: transparent;
}