.logo {
    width: 150px;
    margin: 0 auto 15px;
}
.logo img {
    width: 100%;
}
.loginForm {
    height: 100%;
    justify-content: center;
}
.loginForm :global(.ant-form-item) {
    margin-bottom: 0;
}
.loginForm :global(.ant-card) {
    border: 1px solid #000 !important;
    border-radius: 10px;
}
.loginForm :global(.ant-card-body) {
    width: 410px;
    height: 510px;
}
.loginForm input {
    width: 100%;
}
.loginForm :global(.ant-form-item-control-input) {
    min-height: auto;
}
.loginHeader {
    justify-content: space-between;
    margin-bottom: 15px;
}
.loginH1 {
    font-size: 20px;
    font-weight: bold;
}
.loginButton {
    text-align: center;
    margin-bottom: 15px;
}
.loginButton button {
    width: 100%;
    background-color: #F51B4D;
    border: none;
    box-shadow: none;
    text-shadow: none;
    height: 50px;
    font-size: 16px;
    margin: 50px 0 15px;
}
.loginButton button:hover,
.loginButton button:active,
.loginButton button:focus {
    background: #F51B4D;
}
.loginFormMid {
    margin-top: 20px;
}
.passwordForgot {
 text-align: right;
}
.passwordForgot a {
    font-size: 14px;
    color: #9fa2b4;
    border-bottom: 1px solid #9fa2b4;
}
.partnerLink {
    text-align: center;
}
.partnerLink a {
    color: #000;
    border-bottom: 1px solid #000;
}