.pagination {
    position: relative;
    text-align: center;
    margin: 16px 0;
}
.pagination li {
    position: absolute;
}

.pagination li:nth-of-type(1) {
    right: 0px;
}
.pagination li:last-of-type {
    left: 0px;
    margin-left: 0;
}
.pagination li:not(li:nth-of-type(1), li:last-of-type) {
    position: relative;
}